<launch>
  <include file="$(find apollo_description)/launch/robot_description.launch"/>
  <node name = "rsp" pkg = "robot_state_publisher" type ="robot_state_publisher"/>
  <rosparam command="load" file="$(find apollo_control)/config/control.yaml"/>
  <node name = "controller_manger" pkg = "controller_manager" type = "spawner" args = "apollo_joint_publisher apollo_velocity_controller"/>
  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization" output="screen"/>
  <node pkg="imu_filter_madgwick" type="imu_filter_node" name="madgwick"/>
  <node pkg="tf2_ros" type="static_transform_publisher" name="imu_trans" args="0 0 0 0 0 0 1 base_link imu_link"/>
  <node pkg="mag_cal" type="imu_time.py" name="imu_time"/>
  <node pkg="mag_cal" type="calibrated_mag.py" name="calibrated_magnetometer"/>
  <node pkg="depthimage_to_laserscan" type="depthimage_to_laserscan" name="di2ls" args="image:=/kinect/depth/image_raw _output_frame_id:=kinect_link"/>
</launch>
